.zwk-tab {
    display: inline-block;
}

.zwk-tab .tab-btn {
    display: inline-block;
    padding: 10px 15px;
    color: rgba(0, 0, 0, 0.85);
    border: none;
    border-radius: 0;
}

.zwk-tab .tab-btn.router-link-active:hover {
    font-weight: bold;
}

.zwk-tab .tab-btn.router-link-active,
.zwk-tab .tab-btn.router-link-active:hover {
    font-weight: bold;
    color: #2d8cf0;
    border-bottom: 2px solid #2d8cf0;
    padding-bottom: 8px;
}